<aside class="siteRigrhSide">
    <% if(categories) { %>
    <div class="asideInner">
        <section class="banner I"><a href="#!"></a></section>
        <h3>категории</h3>
        <ul class="categories">
            <% categories.forEach(function(categorie){ %>
                <li><a href="/category/<%= categorie._id %>"><%= categorie.title %></a></li>
            <% }) %>
        </ul>
        <section class="banner II"><a href="#!"></a></section>
        <h3>САМЫЙ ПОПУЛЯРНЫЙ</h3>
        <% if(typeof popular != 'undefined'){ %>
        <ul class="popular">
            <% popular.forEach(function(p){ %>
                <li><a href="/post/<%= p.postDetails[0].slug.ru %>/<%= p.postDetails[0]._id %>"><%= p.postDetails[0].title.ru %></a></li>
            <% }); %>
        </ul>
        <% } %>
        <section class="banner III"><a href="#!"></a></section>
    </div>
    <% } %>
</aside>
