<% if(rposts) { %>
<section class="headerCarousel owl-carousel owl-theme">
    <% rposts.forEach(function(rpost){ %>
    <section class="item">
        <figure><img src="<%= rpost.mainpic.url %>" alt="Изображение" title="<%= rpost.title.ru %>"></figure>
        <div>
            <h2> <a href="/post/<%= rpost.slug.ru %>/<%= rpost._id %>"><%= rpost.title.ru %></a></h2>
            <p>
                <%= rpost.desc.ru %>
            </p><a href="/post/<%= rpost.slug.ru %>/<%= rpost._id %>">прочитайте больше</a>
        </div>
    </section>
    <% }) %>
</section>
<% } %>