<!doctype html>
<html>
    <head>
        <title>blog</title>
        <script src='https://www.googletagmanager.com/gtag/js?id=UA-107846956-1'></script>
        <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-107846956-1');

        </script>
        <meta charset="UTF-8">
        <meta property="fb:pages" content="937707419719463">
        <meta name="description" content="blog about cats" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="squad.ge">
        <meta name='theme-color', content='#ffffff'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="<%= url %>">
        <meta property="og:type" content="website">
        <meta property="og:title" <% if(typeof post != 'undefined') { %> content="<%= post.title.ru %>" <% } else { %> content="blog.cattaclub.com" <% } %>>
        <meta property="og:description" <% if(typeof post != 'undefined') { %> content="<%= post.desc.ru %>" <% } else { %> content="blog.cattaclub.com" <% } %>>
        <meta property="og:image" <% if( typeof post != 'undefined' && post.mainpic.url && post.mainpic.url.length > 0) { %> content="<%= post.mainpic.url %>" <% } else { %> content="<%= originUrl + '/assets/imgs/cattaclub-logo.png' %>" <% } %>>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/lightbox.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css">
    </head>
    <body>
        <header>
            <section class="headerInner"><a class="mainLogo" href="/"><img src="/assets/imgs/cattaclub-logo.png" alt="logo" title="blog.cattaclub.com"></a>
                <form action="/search" method="get">
                    <input type="text" name="srch" placeholder="поиск">
                    <button type="submit">поиск</button>
                </form>
                <div class="socIcons"><a href="https://www.facebook.com/CattaClub/" target="_blank"><img src="/assets/imgs/facebook.png" alt="" title=""></a><a href="https://www.instagram.com/cattaclub/" target="_blank"><img src="/assets/imgs/instagram.png" alt="" title=""></a><a href="https://plus.google.com/u/0/b/115804387810276132115/" target="_blank"><img src="/assets/imgs/google-plus.png" alt="" title=""></a><a href="https://twitter.com/CattaClub" target="_blank"><img src="/assets/imgs/twitter.png" alt="" title=""></a><a href="https://vk.com/cattaclub" target="_blank"><img src="/assets/imgs/vk.png" alt="" title=""></a><a href="https://www.pinterest.com/cattaclub/" target="_blank"><img src="/assets/imgs/pinterest.png" alt="" title=""></a>
                </div>
                <button class="asideButton" type="button"></button>
            </section>
        </header>